@model Lisseth.Models.Cliente

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Cliente</h4>
<hr />
<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="row">
        <div class="form-group col-md-5">
            <label asp-for="Nombre" class="control-label"></label>
            <input asp-for="Nombre" class="form-control" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>
        <div class="form-group col-md-5">
            <label asp-for="Direccion" class="control-label"></label>
            <input asp-for="Direccion" class="form-control" />
            <span asp-validation-for="Direccion" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-5">
            <label asp-for="Fecha" class="control-label"></label>
            <input asp-for="Fecha" class="form-control" />
            <span asp-validation-for="Fecha" class="text-danger"></span>
        </div>
        <div class="form-group col-md-5">
            <label asp-for="Correo" class="control-label"></label>
            <input asp-for="Correo" class="form-control" />
            <span asp-validation-for="Correo" class="text-danger"></span>
        </div>
    </div>
    <div class="row col-md-12">
        @await Html.PartialAsync("_Telefono", Model.Telefono)
    </div>
    <div class="row">
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />|
            <a asp-action="Index">Back to List</a>
        </div>
    </div>

</form>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
